test/
._*
.DS_Store
*.pyc
*.trees
*.log
slurm*
test*.tre
plots/cd8/branch
plots/cd8/trunk
plots/cd8/tree
plots/antibody
plots/cd8/branch
plots/cd8/test\*
plots/cd8/epitopespersite/HA\*
plots/cd8/epitopespersite/NA\*
plots/cd8/epitopespersite/PB1\*
plots/dnds/\*boxplot\*
plots/dnds/\*posterior\*
plots/dnds/NP_FUBAR_dnds.pdf
plots/dnds/M1_FUBAR_dnds.pdf
plots/dnds/NP_FUBAR_proportionhighdnds.pdf
plots/dnds/NP_FUBAR_cumulativedensity_dnds.pdf
plots/dnds/M1_FUBAR_proportionhighdnds.pdf
plots/dnds/M1_FUBAR_cumulativedensity_dnds.pdf
plots/dnds/PA\*
plots/dnds/\*HA\*
plots/dnds/\*H3\*
plots/dnds/combined\*
plots/dnds/NP_highdnds.pdf
plots/dnds/M1_highdnds.pdf
plots/dnds/\*violin\*
plots/trees/red\*
plots/trees/blue\*
plots/trees/HA\*
plots/trees/PA\*
human/HA\*
human/PB1\*
human/NA\*
swine/HA\*
swine/PB1\*
swine/NA\*
human/M1/humantrunkavemutationpersite.csv
human/M1/swinetrunkavemutationpersite.csv
human/M1/humantreeavemutationpersite.csv
human/M1/swinetreeavemutationpersite.csv
human/M1/\*test\*
human/M1/\*branch\*
human/NP/humantrunkavemutationpersite.csv
human/NP/swinetrunkavemutationpersite.csv
human/NP/humantreeavemutationpersite.csv
human/NP/swinetreeavemutationpersite.csv
human/NP/\*test\*
human/NP/\*branch\*
human/NP/\*MEME\*
human/NP/\*FEL\*
swine/NP/branch\*
swine/M1/branch\*
plots/cd8/treeepitope_to_nonepitope_mutation.pdf
plots/cd8/trunkepitope_to_nonepitope_mutation.pdf
plots/cd8/fhuman_vs_fswine.pdf
plots/dnds/\*combined\*
swine/NP/\*test\*
swine/M1/\*test\*
untitled
plots/cd8/*\branch\*
human/M1/*\slurm\*
human/NP/*\slurm\*
swine/NP/*\slurm\*
swine/M1/*\slurm\*
